# Environment variables
.env
.idea

# Cache
crawler_cache.json

# Crawler sites configuration
config/sites.yml
config/sites-complet.yml

crawler.log
/data/status.json
/data/crawler.pid
/data/crawl_history.json
/data/crawler_cache.db
/.streamlit/
